@tailwind base;
@tailwind components;
@tailwind utilities;

 .box {
    background-color: #f3f4f6;
  }
  
  .is-rounded {
    border-radius: 4px;
  }
  
  .flexbox {
    display: flex;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .text-align-center {
    text-align: center;
  }
  
  .padding-2 {
    padding: 0.5rem;
  }
  
  .margin-1 {
    margin: 0.25rem;
  }
  
  .width-2 {
    width: 0.5rem;
  }
  
  .has-background-grey-light {
    background-color: #f5f5f5;
  }
  

  .panel-wrapper {
    height: 100%;
    
  }

  .page-panel {
    height: 50rem;
    padding: 1rem;
  }